<h2><span data-bind="i18n: 'Left to refresh'"></span> <span data-bind="text: countDown()" /></h2>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Description'"></h3>
    <span data-bind="text: description()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Temperature'"></h3>
    <span data-bind="text: temp()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Minimum temperature'"></h3>
    <span data-bind="text: tempMin()" />
</div>
<br>

<div class="section">
    <h3 data-bind="i18n: 'Maximum temperature'"></h3>
    <span data-bind="text: tempMax()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Wind speed'"></h3>
    <span data-bind="text: windSpeed()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Wind direction, degrees'"></h3>
    <span data-bind="text: windDeg()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Pressure'"></h3>
    <span data-bind="text: pressure()" />
</div>
<br>
<div class="section">
    <h3 data-bind="i18n: 'Humidity'"></h3>
    <span data-bind="text: humidity()" />
</div>
